{% extends "base.html" %}
{% block title %} Licencje {% endblock %}
{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-12 wrapper mt-4">
                <h3 class="col-12 wrapper mb-4">Żródła wykorzystanych obrazów i treści</h3>
                <div id="accordion">
                    <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Obrazy wektorowe na podstronach
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <p><a href="https://www.freepik.com/free-vector/people-studying-remotely-e-learning-home-education-distance-learning-online-college_12085890.htm#&position=11&from_view=undefined">Image by vectorjuice</a> on Freepik</p>
                        <p><a href="https://www.freepik.com/free-vector/internet-lessons-searching-remote-university-educational-programs-online-classes-website-high-school-student-with-magnifying-glass-cartoon-character_12085840.htm#&position=9&from_view=undefined">Image by vectorjuice</a> on Freepik</p>
                        <p><a href="https://www.freepik.com/free-vector/discipline-abstract-concept_12084808.htm#&position=7&from_view=undefined">Image by vectorjuice</a> on Freepik</p>
                        <p><a href="https://www.freepik.com/free-vector/woman-personal-profile-employer-holding-job-candidate-cv-employee-resume-isolated-flat-design-element-medical-clinic-hospital-patient-card-concept-illustration_11667128.htm#&position=5&from_view=undefined">Image by vectorjuice</a> on Freepik</p>
                        <p><a href="https://www.freepik.com/free-vector/access-control-system-abstract-concept_12085707.htm#&position=3&from_view=undefined">Image by vectorjuice</a> on Freepik</p>
                        <p><a href="https://www.freepik.com/free-vector/tiny-people-adults-playing-volleyball-surfing-kitesurfing-summer-beach-activities-seacoast-entertainment-sea-animation-services-concept-pinkish-coral-bluevector-isolated-illustration_11664253.htm#&position=1&from_view=undefined">Image by vectorjuice</a> on Freepik</p>
                      </div>
                    </div>
                  </div>
                    <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Ikony
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <p><a href="https://icons.getbootstrap.com/icons/journals/">Journals icon</a> on GetBootstrap</p>
                        <p><a href="https://icons.getbootstrap.com/icons/journal-plus/">Journal plus icon</a> on GetBootstrap</p>
                        <p><a href="https://icons.getbootstrap.com/icons/check-square/">Check square icon</a> on GetBootstrap</p>
                      </div>
                    </div>
                  </div>
                    <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Inne
                        </button>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <p><a href="https://fonts.google.com/specimen/Work+Sans/about">Work Sans</a> on Google Fonts</p>
                        <p><a href="https://www.cke.gov.pl/images/_EGZAMIN_MATURALNY_OD_2023/Informatory/wybrane_wzory_matematyczne_EM2023.pdf">Karta wzorów</a> na podstawie karty opublikowanej przez CKE</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}