{% extends "base.html" %}
{% block title %} Strona główna {% endblock %}
{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-12 wrapper mt-4 ">
                <h1>Z nami nauka matematyki jest
                    <br/>
                    <div class="slidingVertical">
                      <span>przyjemna</span>
                      <span>prosta</span>
                      <span>nowoczesna</span>
                      <span>ciekawa</span>
                    </div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 short-desc-home-page">
                <p>Skorzystaj z +MathApp już dziś!</p>
                {% if not user.is_authenticated %}
                <div class="mt-3 container">
                    <div class="button-box row">
                        <div class="col-6" style="text-align: right;">
                            <a href="{% url 'register' %}" class="button btn btn-primary ml-2">Dołącz</a>
                        </div>
                        <div class="col-6" style="text-align: left;">
                            <a href="{% url 'login' %}" class="button btn btn-primary ml-2">Zaloguj się</a>
                        </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="mt-3 container">
                    <div class="button-box row">
                        <div class="col-12" style="text-align: center;">
                            <a href="{% url 'chapters:chapter-list' %}" class="button btn btn-primary ml-2">Rozpocznij naukę!</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                {% load static %}
                <img src="{% static 'images/school.png' %}" width="50%"  alt="Obrazek przedstawiający budynek szkoły z dwójką uczących się ludzi">
            </div>
        </div>
        <div class="row align-items-center d-md-none">
            <div class="col-12 text-center">
                <p>
                    W +MathApp możesz uczyć się jak lubisz.<br/>
                    Korzystaj z notatek w formie tekstu.<br/>
                    Ucz się wykorzystując infografiki zamieszczone na stronie.<br/>
                    Oglądaj materiały edukacyjne w formie video.
                </p>
            </div>
            <div class="col-12 text-center">
                <img src="{% static 'images/elearning.png' %}" width="60%"  alt="Obrazek przedstawiający uczącą się osobę siedzącą na pufie, w tle ekran laptopa">
            </div>
        </div>
        <div class="row align-items-center d-none d-md-flex">
            <div class="col-md-6 text-right">
                <p>
                    W +MathApp możesz uczyć się jak lubisz.<br/>
                    Korzystaj z notatek w formie tekstu.<br/>
                    Ucz się wykorzystując infografiki zamieszczone na stronie.<br/>
                    Oglądaj materiały edukacyjne w formie video.
                </p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/elearning.png' %}" width="60%"  alt="Obrazek przedstawiający uczącą się osobę siedzącą na pufie, w tle ekran laptopa">
            </div>
        </div>
        <div class="row align-items-center d-md-none">
            <div class="col-12 text-center">
                <p>
                    Osiągaj zaplanowane cele szybciej z +MathApp.<br/>
                    Przygotuj się do kolejnej lekcji.<br/>
                    Powtórz do kartkówki lub sprawdzianu.<br/>
                    Naucz się na egzamin.<br/>
                </p>
            </div>
            <div class="col-12 text-center">
                <img src="{% static 'images/discipline.png' %}" width="60%"  alt="Obrazek przedstawiający uczącą się osobę siedzącą na pufie, w tle kalendarz i tarcza z wbitą strzałą">
            </div>
        </div>
        <div class="row align-items-center d-none d-md-flex">
            <div class="col-md-6 text-right">
                <img src="{% static 'images/discipline.png' %}" width="60%"  alt="Obrazek przedstawiający uczącą się osobę siedzącą na pufie, w tle kalendarz i tarcza z wbitą strzałą">
            </div>
            <div class="col-md-6">
                <p>
                    Osiągaj zaplanowane cele szybciej z +MathApp.<br/>
                    Przygotuj się do kolejnej lekcji.<br/>
                    Powtórz do kartkówki lub sprawdzianu.<br/>
                    Naucz się na egzamin.<br/>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}