{% extends "base.html" %}
{% block title %} Rozpocznij test - {{topic.name}} {% endblock %}
{% block content %}
{% load static %}
<div>
    <div class="container">
        <div class="row align-items-center d-md-none">
            <div class="col-12 text-center">
                <img src="{% static 'images/test-question-mark.png' %}" width="60%"  alt="Obrazek przedstawiający dwie osoby stojące przed dużym arkuszem z zadaniami">
            </div>
            <div class="col-12 text-center">
                {% if questions == 0 %}
                    <h2 class="mb-4">Test <a class="blue-text">{{ topic.name }}</a></h2>
                    <p>Test dla tego tematu jeszcze nie powstał.</p>
                    <div class="button-box mt-3">
                        <a class="btn btn-primary" href="{% url 'chapters:chapter-detail' topic.chapter.id %}">Lista tematów</a>
                    </div>
                {% else %}
                    <h2 class="mb-4">Test <a class="blue-text">{{ topic.name }}</a></h2>
                    <p>Za chwilę rozpoczniesz test, który składa się z  <b>{{ questions }} pytań</b>.</p>
                    <p>Test jest <b>jednokrotnego wyboru</b> - tylko jedna odpowiedź w pytaniu może być poprawna.<br>
                        Test nie zawiera ograniczeń czasowych.</p>
                    <div class="button-box">
                        <a href="{% url 'quizzes:quiz-detail' topic.id %}" class="button btn btn-primary ml-2">Rozpocznij test</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row align-items-center d-none d-md-flex">
            <div class="col-md-6">
                <img src="{% static 'images/test-question-mark.png' %}" width="80%"  alt="Obrazek przedstawiający dwie osoby stojące przed dużym arkuszem z zadaniami">
            </div>
            <div class="col-md-6 text-left">
                <div class="col-12 text-center">
                    {% if questions == 0 %}
                        <h2 class="mb-4">Test <a class="blue-text">{{ topic.name }}</a></h2>
                        <p>Test dla tego tematu jeszcze nie powstał.</p>
                        <div class="button-box mt-3">
                            <a class="btn btn-primary" href="{% url 'chapters:chapter-detail' topic.chapter.id %}">Lista tematów</a>
                        </div>
                    {% else %}
                        <h2 class="mb-4">Test <a class="blue-text">{{ topic.name }}</a></h2>
                        <p>Za chwilę rozpoczniesz test, który składa się z  <b>{{ questions }} pytań</b>.</p>
                        <p>Test jest <b>jednokrotnego wyboru</b> - tylko jedna odpowiedź w pytaniu może być poprawna.<br>
                            Test nie zawiera ograniczeń czasowych.</p>
                        <div class="button-box">
                            <a href="{% url 'quizzes:quiz-detail' topic.id %}" class="button btn btn-primary ml-2">Rozpocznij test</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}