{% extends "base.html" %}
{% block title %} Test - {{topic.name}} {% endblock %}
{% block content %}
    <div class="container" style="margin: 0 0 0 0!important; max-width: 100%;">
        <div class="row ml-5">
            <div class="mt-3"><h1 class="section-header">{{topic.name}}</h1></div>
        </div>
        <div class="row ml-5">
            <div class="col-md-7" style="font-size: 20px">
                <form action="" method="post">	{% csrf_token %}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            <a class="mr-2 blue-text">Pytanie {{ forloop.counter }}</a>{{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                    <div class="button-box">
                        <input class="btn btn-primary mt-2" type="submit" value="Zakończ test">
                    </div>
                </form>
            </div>
            <div class="col-md-5 d-none d-md-flex">
                {% include "formula_card.html" %}
            </div>
        </div>
    </div>
{% endblock %}