{% load custom_tags %}
<button class="button-side" onclick="openNav()">Karta wzorów</button>
<div id="formulas-sidebar" class="formula-sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    {% for chapter in formula_chapters %}
    <a class="formula-chapter" data-toggle="collapse" href="#chapter{{ chapter.id }}">{{ chapter.title }}</a>
    <div class="collapse" id="chapter{{ chapter.id }}">
        <div class="card card-body">
            {% if chapter.id|get_notes|length == 0 %}
                Treść w przygotowaniu
            {% else %}
                <ul>
                    {% for note in chapter.id|get_notes %}
                        <li class="mb-2"><p>{{ note.note|safe }}</p></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<script>
function openNav() {
    document.getElementById("formulas-sidebar").style.width = "40%";
    document.getElementById("main").style.marginLeft = "0px";
}

function closeNav() {
    document.getElementById("formulas-sidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "auto";
}
</script>