<button class="button-side" onclick="openNav()">Karta wzorów</button>

<div id="formulas-sidebar" class="formula-sidepanel">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="formula-chapter" data-toggle="collapse" href="#absolute">Wartość bezwzględna liczby</a>
    <div class="collapse" id="absolute">
        <div class="card card-body">
            <ul>
                <li class="mb-2">Wartość bezwzględną liczby rzeczywistej \(x\) definiujemy wzorem: <br>
                |x| = \(\{ {x \atop -x=0} \) \(\textrm{dla} \: x \geq 0 \atop \textrm{dla} \: x < 0\) <br>
                    Liczba \(|x|\) jest to odległość na osi liczbowej punktu \(x\) o punktu 0.
                </li>
                <li class="mb-2">
                    Dla dowolnej \(x\) liczby mamy: <br>
                    \(|x| \geq 0\) <br>
                    \(|x| = 0\) wtedy i tylko wtedy, gdy x=0 <br>
                    \(|-x| = |x|\) <br>
                    Dla dowolnych liczb rzeczywistych \(x, y\) mamy: <br>
                    \(|x+y| \leq |x|+|y|\) <br>
                    \(|x-y| \leq |x|+|y|\) <br>
                    \(|x \cdot |y| = |x|\cdot |y|\) <br>
                    Ponadto jeśli \(y \neq 0\) to: <br>
                    \(|\frac{x}{y}|=\frac{|x|}{|y|}\)
                </li>
                <li class="mb-2">
                    Dla dowolnych liczb rzeczywistych \(a\) oraz \(r \geq 0\) mamy: <br>
                    \(|x-a| \leq r\) wtedy i tylko wtedy, gdy \(a-r \leq x \leq a+r\) <br>
                    \(|x-a| \geq r\) wtedy i tylko wtedy, gdy \(x \leq a-r\) lub \(x \geq a+r\)
                </li>
            </ul>
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#power">Potęgi i pierwiastki</a>
    <div class="collapse" id="power">
        <div class="card card-body">
            <ul>
                <li class="mb-2">Niech \(n\) będzie liczbą całkowitą dodatnią. Dla dowolnej liczby rzeczywistej \(a\) definiujemy jej \(n\textrm{-tą}\) potęgę:<br>
                    \(a^n = \underbrace{a \cdot a \cdot \ldots \cdot a}_{\textrm{$n$ razy}} \)
                </li>
                <li class="mb-2">
                    Pierwiastkiem arytmetycznym \(\sqrt[n]{a}\) stopnia n z liczby \(a \geq 0\) nazywamy liczbę \(b \geq 0\) taką, że \(b^n=a\). <br>
                    W szczególności dla każdej liczny rzeczywistej \(a\) prawdziwa jest równość:<br>
                    \(\sqrt{a^2} = |a|\) <br>
                    Jeżeli \(a<0\) oraz liczba \(n\) jest nieparzysta, to \(\sqrt[n]{a}\) oznacza liczbę \(b<0\) taką, że \(b^n=a\).<br>
                    W zbiorze liczb rzeczywistych pierwiastki stopni parzystych z liczb ujemnych nie istnieją.
                </li>
                <li class="mb-2">
                    Niech \(m, n\) będą liczbami całkowitymi dodatnimi. Definiujemy:<br>
                    - dla \(a \neq 0\): \(a^{-n}=\frac{1}{a^n}\) oraz \(a^0 = 1\)<br>
                    - dla \(a \geq 0\): \(a^{\frac{m}{n}} = \sqrt[n]{m}\)<br>
                    - dla \(a > 0\): \(a^\frac{-m}{n} \) \(=\)\(\frac{1}{\sqrt[n]{a^m}}\)
                </li>
                <li>
                    Niech \(r,s\) będą dowolnymi liczby rzeczywistymi. Jeśli \(a>0\) i \(b>0\) to:<br>
                    \(a^r \cdot a^s = a^{r+s}\)<br>
                    \((a^r)^s=a^{r \cdot s}\)<br>
                    \(\frac{a^r}{a^s}=a^{r-s}\)<br>
                    \((a \cdot b)^r = a^r \cdot b^r\)<br>
                    \((\frac{a}{b})^r = \frac{a^r}{b^r}\)<br>
                    Jeżeli wykładniki \(r, s\) są liczbami całkowitymi, to powyższe wzory obowiązują dla wszystkich liczb \(a \neq 0\) i \(b \neq 0\).
                </li>
            </ul>
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#logs">Logarytmy</a>
    <div class="collapse" id="logs">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#factorial">Silnia. Współczynnik dwumianowy</a>
    <div class="collapse" id="factorial">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#newton">Wzór dwumianowy Newtona</a>
    <div class="collapse" id="newton">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#multiplication-formulas">Wzory skróconego mnożenia</a>
    <div class="collapse" id="multiplication-formulas">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#sq-func">Funkcja kwadratowa</a>
    <div class="collapse" id="sq-func">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#series">Ciągi</a>
    <div class="collapse" id="series">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#trigonomery">Trygonometria</a>
    <div class="collapse" id="trigonomery">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#planimetry">Planimetria</a>
    <div class="collapse" id="planimetry">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#geometry">Geometria analityczna na płaszczyźnie kartezjańskiej</a>
    <div class="collapse" id="geometry">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#stereometry">Stereometria</a>
    <div class="collapse" id="stereometry">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#combinatorics">Kombinatoryka</a>
    <div class="collapse" id="combinatorics">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#probability">Rachunek prawdopodobieństwa</a>
    <div class="collapse" id="probability">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#statistics">Parametry danych statystycznych</a>
    <div class="collapse" id="statistics">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#derivative">Pochodna funkcji</a>
    <div class="collapse" id="derivative">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>
    <a class="formula-chapter" data-toggle="collapse" href="#trig-values">Tabela wartości funkcji trygonometrycznych</a>
    <div class="collapse" id="trig-values">
        <div class="card card-body">
            Treść w przygotowaniu
        </div>
    </div>

</div>

<script>
function openNav() {
    document.getElementById("formulas-sidebar").style.width = "40%";
    document.getElementById("main").style.marginLeft = "0px";
}

function closeNav() {
    document.getElementById("formulas-sidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "auto";
}
</script>