body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #171C3A;
    background-color: #F9F9F9;
}

footer {
    background-color: #FFA3A0;
}

.navbar-custom .navbar-text,
.navbar-custom .nav-link,
.dropdown-menu .dropdown-item,
.footer-copyright, .footer-copyright a {
    color: #150A81;
    font-weight: 400;
    font-size: 20px;
}

.nav-link:hover {
    color: #FE7062;
}

.navbar-custom .navbar-brand {
    color: #4B4EF7;
    font-weight: 600;
    font-size: 24px;
}

.custom-toggler.navbar-toggler {
    border-color: #150A81;
}
 
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(46, 54, 109, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.chapter-button {
    width: auto;
    height: 80px;
    margin: 10px;
    border-radius: 12px;
    background-color: #4B4EF7;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter-button:hover {
    scale:1.05;
    box-shadow: 7px 7px #FE7062;
    border: #FE7062;
}

.btn-svg {
    background-color: #4B4EF7;
    border-color: #4B4EF7;
    border-radius: 8px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

}
.btn-svg:hover {
    color:white;
    transform: scale(1.05);
    box-shadow: 4px 4px #FE7062;
    border: #FE7062;

}

.section-header {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #FE7062;
}

.chapters {
    margin: 10px;
}

a:hover {
    text-decoration: none;
}

.topic-name {
    font-weight: 600;
    font-size:18px;
    color: #150A81;
}

.topic-name:hover {
    color: #FE7062;
}

.blue-text {
    color: #4B4EF7!important;
    font-weight: 600;
}

.wrapper{
    position: relative;
    text-align: center;
}

.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 8s linear infinite 0s;
	color: #4B4EF7;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 4s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 6s;
}
@keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.short-desc-home-page{
    margin-top: 75px;
    text-align: center;
}

.btn-primary {
    background-color: #4B4EF7;
    border-color: #4B4EF7;
    border-radius: 6px;
    color:white;
    transform-origin: left top;
}

.btn-primary:hover {
    color:white;
    background-color: #4B4EF7;
    transform: scale(1.05);
    box-shadow: 4px 4px #FE7062;
    border: #FE7062;
}

.badge {
    padding: 6px;
    font-size: 80%;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    opacity: 90%;
}

.register_form input {
    border-radius: 0.2rem;
    border-width: 1px;
    border-color: lightgray;
    width: 60%;
    padding: 5px;
}

.register_form label {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.button-box {
    overflow: hidden;
    width: 100%;
    height: 55px;
}

.note-text {
    font-size: 20px;
}

.formula-tile {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    font-size: 24px;
    background-color: #91B3FA;
    border-color: #91B3FA;
    color:white;
    text-align: center;
    padding: 60px 0;
}

.formula-tile:hover {
    color:white;
    transform: scale(1.05);
    box-shadow: 4px 4px #FE7062;
    border: #FE7062;
}

.formula-sidepanel {
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 70px;
    right: 0;
    background-color: #4B4EF7;
    overflow-x: hidden;
    padding-top: 30px;
    transition: 0.3s;
    border-radius: 6px;
    padding-bottom: 30px;
}

.formula-sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.2s;
}

.formula-sidepanel a:hover,
.button-side:hover {
    color: #FE7062;
}

.formula-sidepanel .closebtn {
    color: white;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    }

.button-side {
    color: white;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 71px;
    right: 0;
    background-color: #4B4EF7;
    border-width: 0px;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}
