{% extends "base.html" %}
{% block title %} Zaloguj się {% endblock %}
{% block content %}
<div>
    <div class="container">
        <div class="row mt-5 align-items-center">
            <div class="col-md-6">
                {% load static %}
                <img src="{% static 'images/login.png' %}" width="90%"  alt="Obrazek przedstawiający budynek szkoły z dwójką uczących się ludzi">
            </div>
            <div class="col-md-6">
                <div class="content-section ml-md-5">
                    <form method="POST" style="text-align: center;" class="register_form">
                        {% csrf_token %}
                        <div>
                            <h2 class="mb-4">Witaj <a class="blue-text">ponownie!</a></h2>
                            {% for field in form %}
                              <div>
                                <div class="mt-3">{{ field.label_tag }}</div>
                                <div>{{ field }}</div>
                              </div>
                            {% endfor %}
                            {% if form.errors %}
                                <span class="badge badge-danger mt-1">Niepoprawna nazwa użytkownika lub hasło</span>
                            {% endif %}
                            <div class="form-group my-4">
                                <div class="button-box">
                                    <button class="btn btn-primary mt-2">Zaloguj się</button>
                                </div>
                                <div class="mt-2">
                                    <small class="text-muted">Nie posiadasz jeszcze konta?<a class="ml-1" href="{% url 'register' %}">Zarejestruj się!</a></small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}