{% extends "base.html" %}
{% block title %} {{note}} {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-3">
                 <h1 class="blue-text">{{ note.topic.name }}</h1>
            </div>
            <div class="col-12 mb-3">
                <div class="button-box">
                    <a class="btn btn-primary next-to-button" href="{% url 'chapters:chapter-detail' chapter_id %}">{{ index_of_topics }}</a>
                    {% if elements_amount != 0 %}
                    <a class="btn btn-primary next-to-button" style="left: calc(175px);" href="{% url 'exercises:exercises-list' topic_id %}">{{ exercises }}</a>
                    <a class="btn btn-primary next-to-button" style="left: calc(280px);" href="{% url 'quizzes:quiz-start' topic_id %}">{{ test }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12">
                {% if elements_amount == 0 %}
                    <p>{{ content_in_preparation }}</p>
                {% else %}
                    {% for element in note_elements %}
                        <div>
                            <div class="text-left mb-3 blue-text">
                                <h2>{{ element.name }}</h2>
                            </div>
                            <div class="text-left p-sm-3 mx-sm-5">
                            {% if element.text %}
                                {{element.text|safe}}
                            {% endif %}
                            {% if element.image %}
                            <img src="{{ element.image.url }}" alt="img">
                            {% endif %}
                            <div class="my-5">
                                {% if element.file %}
                                <video width="640px" height="360px" controls>
                                     <source src="{{ element.file.url }}" type="video/mp4">
                                </video>
                                {% endif %}
                            </div>
                            </div>
                        </div>
                    {% endfor%}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
