{% extends "base.html" %}
{% block title %} Zadanie - {{ topic.name }} {% endblock %}
{% block content %}
<section>
    <div class="container" id="main">
        <div class="row">
            <div class="col-9 mt-3 ml-1">
                <h1 class="task-topic">{{topic.name}}</h1>
                <div class="button-box">
                    <a class="btn btn-primary next-to-button" href="{% url 'exercises:exercises-list' topic.id %}">Lista zadań</a>
                    <a class="btn btn-primary" href="{% url 'notes:note-detail' topic.id %}">Notatki z tematu</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9 mt-3 mb-4 card card-body ml-1">
                <h4>{{ exercise.exercise_content }}</h4>
                {% for step in steps %}
                    <h5><a class="blue-text">Krok {{ steps.number }}: </a> {{ step.instruction|safe }} </h5>
                {% endfor %}

                <div style="text-align: center;" class="my-2">
                {% for step in steps.paginator.page_range %}
                    {{ num_page }}
                    {% if steps.number == step %}
                        <a href="?page={{ forloop.counter }}" class="circle-step-selected">&#11044;</a>
                    {% else %}
                        <a href="?page={{ forloop.counter }}" class="circle-step">&#11044;</a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="col-md-5 d-none d-md-flex">
                {% include "formula_card.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-9 ml-1">
                <h5 class="blue-text">Miejsce na Twoje rozwiązanie:</h5>
            </div>
            <div class="col-9 text-center ml-1">
                {% include "math_input.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-9 mt-4 ml-1">
                <div class="button-box">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSolution" aria-expanded="false" aria-controls="collapseExample">
                        Pokaż rozwiązanie
                    </button>
                </div>
                <div class="collapse" id="collapseSolution">
                    <div class="card card-body">
                        {% for step in steps %}
                            <h6>{{ step.solution|safe }}</h6>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}