{% extends "base.html" %}
{% block title %} {{ exercise_const }} - {{ topic.name }} {% endblock title %}
{% block content %}
<section>
    <div class="container" id="main">
        <div class="row">
            <div class="mt-2 mb-2 col-12 ">
                <h1 class="blue-text">{{ topic.name }}</h1>
            </div>
            <div class="col-9 mt-3 ml-1">
                <div class="button-box">
                    <a class="btn btn-primary" href="{% url 'exercises:exercises-list' %}?topic={{ topic.id }}">{{ list_of_exercises }}</a>
                    <a class="btn btn-primary" href="{% url 'notes:note-detail' topic.id %}">{{ notes_const }}</a>
                    <a class="btn btn-primary" href="{% url 'quizzes:quiz-start' topic.id %}">{{ test_const }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9 mt-3 mb-4 card card-body ml-1">
                <h4>{{ exercise.exercise_content }}</h4>
                {% for step in steps %}
                    <h5><a class="blue-text">{{ step_const }} {{ steps.number }}: </a> {{ step.instruction|safe }} </h5>
                {% endfor %}

                <div class="my-2 centered-text">
                {% for step in steps.paginator.page_range %}
                    {{ num_page }}
                    {% if steps.number == step %}
                        <a href="?page={{ forloop.counter }}" class="circle-step-selected">⬤</a>
                    {% else %}
                        <a href="?page={{ forloop.counter }}" class="circle-step">⬤</a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="col-md-5 d-none d-md-flex">
                {% include "formula_card.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-9 ml-1">
                <h5 class="blue-text">{{ place_for_solution }}</h5>
            </div>
            <div class="col-9 text-center ml-1">
                {% include "math_input.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-9 mt-4 ml-1">
                <div class="button-box">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSolution" aria-expanded="false" aria-controls="collapseExample">
                        {{ show_solution }}
                    </button>
                </div>
                <div class="collapse" id="collapseSolution">
                    <div class="card card-body">
                        {% for step in steps %}
                            <h6>{{ step.solution|safe }}</h6>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
